$color-primary: rgb(0, 0, 0);
$color-secondary: white;
$color-background: rgb(132, 131, 138);
$color-border:  rgb(132, 131, 138);
$font-family: 'Sulphur Point', sans-serif;
$font-size: 16px;

//extra small devices (portrait phones, less than 576px)//
$landscape-phone: 576px; //small devices (landscape phones, 576px and up)//
$tablet: 768px; //medium devices (tablets, 768px and up)//
$desktop: 992px; //large devices (desktops, 992px and up)//
$large-desktop: 1200px; //extra large devices (large desktops, 1200px and up)//




